<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/webjars/**" security="none"/>

    <http pattern="/rest/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <intercept-url pattern="/restaurants" method="GET" access="permitAll()"/>
        <intercept-url pattern="/restaurants/**" method="GET" access="permitAll()"/>

        <intercept-url pattern="/restaurants/dishes/**" method="GET" access="permitAll()"/>
        <intercept-url pattern="/restaurants/dishes/**" method="DELETE" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/restaurants/dishes/**" method="POST" access="hasRole('ADMIN')"/>

        <intercept-url pattern="/restaurants/votes" method="GET" access="permitAll()"/>
        <intercept-url pattern="/restaurants/votes/**" method="GET" access="permitAll()"/>
        <intercept-url pattern="/restaurants/votes/**" method="POST" access="isAuthenticated()"/>

        <intercept-url pattern="/users/profile/**" access="isAuthenticated()"/>
        <intercept-url pattern="/users/register" access="permitAll()"/>
        <csrf disabled="true"/>
    </http>

    <beans:bean class="org.springframework.security.crypto.factory.PasswordEncoderFactories" id="passwordEncoder"
                factory-method="createDelegatingPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>